@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  background-image: url('/background.jpg');
  background-position: center;
  background-attachment: fixed;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
